@{
    ViewData["Title"] = "Pagina Ivanus - Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prueba Ivanus - Welcome</h1>
    <h4 class="display-4">Por fin pude</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
